
body {
    background: url('Assets/dark-jungle-bckgrnd.png') repeat;
    font-family: 'orbitron', sans-serif;
    color: #fff;
}
@media (max-width: 480px) {
    .navbar { 
        flex-direction: center;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.navbar {
    width:20%;
    padding: 1rem;
    background-color:green;
}
.meme-img {
    width: 100%;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    transform: translateY(10px);
    transition: opacity 0.6s ease, transform 0.6s ease;

}

.meme-.img.fade-in {
    opacity: 1;
    transform: transLateY(0);
}

.meme-img:hover {
    transform: scale(1.05);
}
.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.page-btn {
    padding: 8px 12px;
    background: yellow;
    color: black;
    border: 2px solid white;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    border-radius: 4px;
}

.page-btn.active {
    background:n #0f0;
    color: #000;
    font-weight: bold;
}
.site-title {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    margin: 1rem 0;
}
#searchInput {
    width: 25%;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 8px 8px;
    border-radius: 16px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
}